In [23]:
import config as cf

import pandas as pd

import matplotlib.pyplot as plt

import sqlalchemy

from sqlalchemy.orm import session

from sqlalchemy.ext.automap import automap_base

In [24]:
from sqlalchemy import create_engine
engine = create_engine(f'postgresql+psycopg2://postgres:{cf.password}@localhost:{cf.port}/employee')
conn = engine.connect()

In [29]:
employee_df = pd.read_sql("select * from employee", conn)

In [30]:
employee_df.head()

   emp_no emp_title_id  birth_date  first_name  last_name sex   hire_date
0  473302        s0001  2053-07-25    Hideyuki   Zallocco   M  1990-04-28
1  475053        e0002  2054-11-18       Byong  Delgrande   F  1991-09-07
2   57444        e0002  2058-01-30       Berry       Babb   F  1992-03-21
3  421786        s0001  2057-09-28       Xiong   Verhoeff   M  1987-11-26
4  282238        e0003  2052-10-28  Abdelkader    Baumann   F  1991-01-18

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()